html {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: block;
    align-items: center;
    margin: 0px;
    min-height: calc(100vh - 129px);
    flex-grow: 1;
}

/* Navbar styling */

nav {
    position: sticky;
    top: 0;
    z-index: 999;
    flex-grow: 0;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004e42;
}

div.pages {
    float: right;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

ul div.pages li a:hover:not(.active) {
    color: #bbbbbb;
}

ul li a.active {
    color: #bbbbbb;
}

ul div.logo {
    display: inline block;
}

a#programming-club-separator {
    padding-left: 5px;
    padding-right: 8px;
}

a#programming-club-descriptor {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    padding-left: 0px;
    text-decoration: none;
}

img#burnside-icon {
    height: 50px;
    width: 43px;
    padding-top: 3px;
    padding-left: 5px;
}

/* Homepage Hero Section styling */

.homepage-hero-section {
    background-image: linear-gradient(to right, #00000040, #00000000);
    background-color: #52a6a9;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% auto;
}

.homepage-hero-text-container {
    max-width: 1366px;
    width: 100%;
    margin: auto;

    background-image: url("./assets/burnside_programming_club_logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% auto;
    height: 90vh;
}

.homepage-hero-text {
    display: block flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: absolute;
    text-align: left;
    width: 55%;
    max-width: 750px;
    color: #ffffff;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 27.5vh;
}

.homepage-hero-links {
    display: block;
    margin-top: 25px;
}

a.homepage-hero-link {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #cccccc;
    color: #000000;
    text-decoration: none;
}

/* Homepage Two Column Section styling */

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: 480px;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    max-height:  480px;
    object-fit: cover;
}

.two-column-text {
    padding: 20px;
    width: auto;
}

.two-column-text#two-column-homepage-1 h2 {
    color: #004e42;    
}

.two-column#two-column-homepage-2 {
    background-color: #003a2c;
}

.two-column-text#two-column-homepage-2 h2 {
    color: #00ab8e;
}

.two-column-text#two-column-homepage-2 p {
    color: #ffffff;
}

.two-column#two-column-homepage-3 h2 {
    color: #004e42;
}

/* Call-to-action Section styling */

.call-to-action {
    display: block flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #00ab8e;
}

a.call-to-action-link {
    padding: 10px 20px;
    background-color: #cccccc;
    color: #000000;
    text-decoration: none;
}

/* Common footer styling */
footer {
    display: block;
    align-items: center;
    margin: 0px;
    background-color: #004e42;
    flex-grow: 0;
    flex-shrink: 0;
}

.footer-container {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}

footer p {
    display: block;
    color: #ffffff;
    padding: 1em;
    margin: 0px !important;
}

/* Sub-Hero Section styling */

.sub-hero-section {
    background-image: linear-gradient(to right, #00000040, #00000000);
    background-color: #52a6a9;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% auto;
}

.sub-hero-text-container {
    max-width: 1366px;
    width: 100%;
    margin: auto;
    height: 224px;
}

.sub-hero-text {
    display: block flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: absolute;
    text-align: left;
    max-width: 750px;
    color: #ffffff;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 32px;
}

/* About page backstory styling */

.aboutpage-backstory-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

/* Join Page Two Column Section styling */

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: 480px;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 100%;
    max-height: 480px;
    object-fit: contain;
}

.two-column-text {
    padding: 20px;
    width: auto;
}

.two-column-text#two-column-join-1 h2 {
    color: #004e42;    
}

.two-column#two-column-join-2 {
    background-color: #003a2c;
}

.two-column-text#two-column-join-2 h2 {
    color: #00ab8e;
}

.two-column-text#two-column-join-2 p {
    color: #ffffff;
}

.two-column#two-column-join-3 h2 {
    color: #004e42;
}

.two-column#two-column-join-4 {
    background-color: #00ab8e;
}

.two-column-image-caption {
    margin-top: 0px;
    font-size: 0.75em;
}

/* Join Page Call-to-action */
.join-call-to-action {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.join-call-to-action-text {
    padding: 20px;
    width: auto;
    color: #ffffff;
    background-color: #00ab8e;
    padding-top: 10px;
    padding-bottom: 32px;
}

/* Resources Page Styling */

.resources-heading {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.resources-one-column {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resources-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resources-three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resources-item {
    padding: 20px;
}

/* Contact Page Styling */

.contact-headings {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.contact-headings h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.contact-profile {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.contact-profile-role {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}