html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px !important;
}

.content {
    display: block;
    align-items: center;
    margin: auto;
}

/* Navbar styling */

nav {
    position: sticky;
    top: 0;
    z-index: 999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

div.pages {
    float: right;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    color: #aaaaaa;
}

ul li a.active {
    color: #aaaaaa;
}

/* Homepage Hero Section styling */

.homepage-hero-section {
    background-image: url("./assets/20260627_163255.jpg");
    height: 90vh;
}

.homepage-hero-text {
    display: block flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    position: absolute;
    text-align: left;
    width: 55%;
    max-width: 750px;
    color: #ffffff;
    font-size: 1em;
    padding-left: 10px;
    padding-top: 27.5vh;
}

.homepage-hero-links {
    display: block;
    margin-top: 25px;
}

a.homepage-hero-link {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #cccccc;
    color: #000000;
    text-decoration: none;
}

/* Two Column Section styling */

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    margin: auto;
    height: 480px;
}

img {
    width: 100%;
    max-height:  480px;
    object-fit: cover;
}

.two-column-text {
    padding: 20px;
    width: auto;
}

/* Call-to-action Section styling */

.call-to-action {
    display: block flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #000000;
}

a.call-to-action-link {
    padding: 10px 20px;
    background-color: #cccccc;
    color: #000000;
    text-decoration: none;
}

/* Common footer styling */
footer {
    display: block;
    align-items: center;
    margin: auto;
    max-width: 1366px;
}